<div class="container">
	<div class="row">
		<div class="span12" >
			<div class="hero-unit">
			  <h1>Request a Quote</h1>
			  <p>Looking for drywall cost? Price of hanging and taping drywall - Basements, new homes etc..</p>
			  <p>
			    <a class="btn btn-primary btn-large">
			      Learn more
			    </a>
			  </p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12" >
			<div class="hero-unit">
			  <h1>Book an Appointment</h1>
			  <p>Ready for next step? Book a follow-up meeting with El Sol Contruction. Quote Code is required.</p>
			  <p>
			    <a class="btn btn-primary btn-large" href="/home/bookappt">
			      Learn more
			    </a>
			  </p>
			</div>
		</div>
	</div>
</div>
